.portfolio {
  padding-bottom: 0;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
  transition: var(--transition);

  & .btn:first-child {
    margin-right: 1rem;
  }

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);

    & h3,
    a {
      color: var(--color-white);
    }

    .btn {
      background-color: var(--color-white);
      color: var(--color-primary);

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-white);
      }
    }
  }

  & img {
    border-radius: 1rem;
    border: 1px solid var(--color-dark);
  }
}

/* Max Width 1519px */
@media (max-width: 1519px) {
  .portfolio-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Max Width 888px */
@media (max-width: 888px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
